/node_modules
/.next/
/out/
/build
.DS_Store
/.husky
/coverage
.eslintignore
.prettierignore
.gitignore
postcss.config.js
tailwind.config.js
README.md
LICENSE
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
package-lock.json
package.json